<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.joytokey">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:label="JoyToKey Android"
        android:theme="@style/Theme.AppCompat.Light">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service android:name=".OverlayService"/>
    </application>

</manifest>
